<div class="container" style="width:100%">
    <div class="row">
        
<img src="/images/notebook-and-mouse-cursor.png" alt=""> 
<ul class="menuHeader">            
    <li><a href="#/home">ГОЛОВНА</a></li>            
    <li><a href="#/contactUs">КОНТАКТИ</a></li>            
    <li><a href="#/shop">МАГАЗИН</a></li>
    <li><a href="#/sugges">ВІДГУКИ</a></li> 
</ul>                                                                                                         

<div ng-controller="MyCtrl" class="modalDiv">                     
    <input type="text" class="headerInput" ng-model="login"  placeholder="логін"/>		          
    <input type="password" class="headerInput" ng-model="password" placeholder="пароль"/>     		         <button ng-click="loginIn()" class="btn btn-info login">увійти</button>                               <button ng-click="toggleModal()" class="btn btn-info enter">реєстрація</button>
        
    <modal-dialog show="modalShown" width="400px" height="55%"></modal-dialog>
  
    <button class="btn btn-primary exit" ng-click="logOut()">вийти</button>
</div> 
  <a class="chart" href="#/product" style="padding-top:0%;"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  {{count}}</a>
   </div>
</div>