<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
        <div class='ng-modal-dialog' ng-style='dialogStyle'>
            <div class='ng-modal-close' ng-click='hideModal()'>X</div>                                       
            
            <form class="formModal" name="userForm" ng-submit="cont.submitForm()" novalidate>             <div class="form-group" ng-class="{ 'has-error' : userForm.login.$invalid && !userForm.login.$pristine }">   
      <input type="text" name="login"  ng-model='login' class="form-control" placeholder="Логін" required> 
      <p ng-show="userForm.login.$invalid && !userForm.login.$pristine" class="help-block">Your login is required.</p>
       </div> 
           <div class="form-group" ng-class="{ 'has-error' : userForm.pass.$invalid && !userForm.pass.$pristine }">   
      <input type="text" name="pass"  ng-model='password' class="form-control" placeholder="Пароль" required ng-minlength="3"> 
    <p ng-show="userForm.pass.$error.minlength" class="help-block">Username is too short.</p>
       </div> 
           <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">   
      <input type="text" name="name" ng-model='name' class="form-control" placeholder="Імя"  required> 
      <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
       </div> 
             <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">   
      <input type="text" name="username" class="form-control" placeholder="Прізвище" ng-model='sname' ng-minlength="3" ng-maxlength="8">
       <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
       </div> 
               <button type='button' class='btn btn-info form-control' ng-click='register()' ng-disabled="userForm.$invalid">зареєструватися</button>  
            </form>            
            <div class='ng-modal-dialog-content' ng-transclude></div>
        </div>
</div>
